#tabelaCarrinho th, #tabelaCarrinho td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

#tabelaCarrinho button:hover {
    transform: scale(1.2);
    transition: 0.2s;
}


[ PDV ] [ PRODUTOS ] [ RELATÓRIOS ]

.top-menu {
  display: flex;
  gap: 15px;
  padding: 15px;
  background: var(--primary);
}

.top-menu button {
  background: none;
  border: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  font-weight: bold;
}

@media (max-width: 900px) {
  body {
    grid-template-columns: 1fr;
    height: auto;
  }

  .caixa-resumo {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 20px 20px 0 0;
  }
}




.alerta-promo {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #27ae60;
    color: white;
    padding: 15px 25px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    font-weight: bold;
    z-index: 1000;
    animation: deslizar 0.5s ease-out;
}

@keyframes deslizar {
    from { transform: translateX(100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

/* Fundo escuro atrás da janelinha */
.modal-qtd {
    display: none; 
    position: fixed;
    top: 0; left: 0; width: 100%; height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 2000;
    justify-content: center;
    align-items: center;
}

/* A caixa branca */
.modal-conteudo {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    width: 300px;
}

.modal-conteudo input {
    width: 80%;
    padding: 10px;
    font-size: 20px;
    margin: 15px 0;
    text-align: center;
}

.btn-confirmar { background: #27ae60; color: white; border: none; padding: 10px 20px; border-radius: 5px; cursor: pointer; width: 100%; }